<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find odom_fusion)/config/asterix.yaml" />
    <node pkg="odom_fusion" type="node" name="odom_fusion_node" output="screen" respawn="true">
        <remap from ="/odom_fused" to="/odom"/>
        <remap from ="/imu/data" to="/imu/data"/>
    </node>
</launch>



